body{
	font-family: 'Montserrat', sans-serif;
}
p{
	letter-spacing: 0.8px;
	line-height: 150%;
}
.container{
	width: 1080;
	margin: 0 auto;
	padding: 0 100px 0 100px;
}
.header{
	background-color: #ffffff;
	border: none;
    display: block;
    overflow: auto;
}
.logo {
	float: left;
	padding: 33px 0px 33px 0;
	overflow: auto;
}
.menu ul{
	float: right;
	padding: 33px 0 33px 0;
}
.menu ul li{
	display: inline-block;
	position: relative;
}
.menu ul li a{
	text-decoration: none;
	color: black;
	padding: 10px;
	font-size: 20px;
}
/*Batas Suci Header*/

/*CSS About*/
.jumbotron{
	background-color: #ffffff; 
}
.muka{
	display: block;
	padding: 40px 0 5px 0;
}
.muka ul{
	display: inline-block;
}
.muka ul li{
	display: block;
	text-decoration: none;
}
.muka-gambar2-1{
	margin-bottom: 25px;
}
/*Batas Akhir CSS About*/

/*CSS Portfolio*/

.jumbotron{
	margin-top: 120px;
}
.jumbotron h2{
	letter-spacing: 0.8px;
	line-height: 150%;
}

.jumbotron h2 a{
	color: #28ADDD;
	text-decoration: none;
}

.lets-talk{
	background-color: #000000;
  	border: none;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	text-transform: uppercase;
  	display: inline-block;
  	margin: 20px 0 100px 0;
 	 cursor: pointer;
}

.lets-talk a{
	text-decoration: none;
	color: white;
}

.content{
	display: grid;
	grid-gap: 35px;
	grid-template-columns: auto auto auto;
}

.dash{
	height: 2px;
	width: 150px;
	background-color: black;
}

.thumbnail h3 a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

/*Batas Akhir CSS Portfolio*/

/*Batas Suci Footer*/
.footer-line{
	background-color: #000000;
	height: 3px;
	margin: 195px 0 20px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: auto 250px 250px 250px;
}
.grid-item {
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.grid-item1{
	background-color: black;
  color: white;
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;	
}

.grid-item a{
	text-decoration: none;
	color: black;
}
.footer-real p{
	min-height: 20px;
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}

/*Animation*/

a {
	position: relative;
	text-decoration: none;
	transition: color .4s ease-out;
}

a::after {
	border-top: .1em solid;
	content: "";
	position: absolute;
		right: 100%;
		bottom: .10em;
		left: 0;
	transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover {
	text-decoration: none;
}

a:hover::after {
	animation: anchor-underline 1s cubic-bezier(0,.5,0,1) infinite;
}

@keyframes anchor-underline {
	0%, 10%{
		left: 0;
		right: 100%;
	}
	40%, 60%{
		left: 0;
		right: 0;
	}
	90%, 100% {
		left: 100%;
		right: 0;
	}
}

img:hover{
	box-shadow: 10px 10px 15px rgba(0, 0, 0,.2);
}